.z-depth-1 {
  border-radius: .25rem;
}

.navbar-nav {
  margin: 0 auto;
}

.navbar-brand {
  line-height: 1rem;
  padding-bottom: 0;
}

.navbar-brand span {
  font-size: .56rem;
  font-weight: 400;
  text-transform: uppercase;
  display: block;
}

.heading h1 {
  font-family: "Roboto Slab",sans-serif;
  color: #4f4f4f;
  font-size: 2.65rem;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 2.45rem;
  letter-spacing: -0.06rem;
  margin: 1rem 0 1rem 0;
}

.heading span {
  font-family: "Roboto",sans-serif;
  font-size: 1.35rem;
  letter-spacing: -0.06rem;
}

.heading p:first-of-type {
  font-size: 1.1rem;
  color: #5c606d;
  font-weight: 400;
  line-height: 1.2rem;  
  text-transform: uppercase;
  margin: 0;
}

.heading p:last-of-type {
  margin: 1.2rem 0 1.2rem 0;
}

.card .card-body h4 {
  font-weight: 500;
}

.card h5 {
  font-family: "Roboto Slab",sans-serif;	
  font-size: 1.8rem;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1.6rem;
}

.card h5 span {
  font-size: 1.25rem;
}

.card h5 i {
  font-size: 1.3rem;
  font-weight: 600;
}

.card-title h6 {
  font-size: 1.25rem;
}

.text-left {
  font-weight: 300;
  padding-left: 2.2rem;
  padding-right: 2.2rem;
}

hr {
  width: 90px;
}

.btn a {
  color: #fff;
}

.nav-item > a.nav-link {
  font-style: inherit;
  padding: .5rem 1rem;
}

.card-body.mt-3.text-center p, .card-body.mt-0.text-center p, .md-text-center, .card-body.mt-3 {
  color: #4f4f4f;
  font-weight: 300;
  margin: 1.5rem;
}

.card-body.mt-3.text-center p:last-child, .card-body.mt-0.text-center p:last-child {
    margin-bottom: .5rem;
}

#bio img.rounded-circle.img-fluid {
  width: 140px !important;
}

.card-body .view {
  overflow: inherit;
}

.card-header {
  background: #fff;
}

.pb-6 {
  padding-bottom: 4rem !important;
}

.container.my-5.z-depth-1 {
  border-radius: 0.25rem;
}

.btn-rounded {
  border-radius: 10em;
}

.view .img-fluid {
  width: 280px;
  margin: 0 auto;
  -webkit-box-shadow: 0 5px 11px 0 rgba(0,0,0,0.18), 0 4px 15px 0 rgba(0,0,0,0.15);
  box-shadow: 0 5px 11px 0 rgba(0,0,0,0.18), 0 4px 15px 0 rgba(0,0,0,0.15);
}

.fas.fa-check, .fas.fa-share, .card-body .fa-angle-double-down, .fa-arrow-down, .tab-pane .fas.fa-map-marker-alt, .fas.fa-user, .fas.fa-users {
  color: #2bbbad;
}

.container h2 {
  font-size: 1.6rem;
  font-weight: 600;
  color: #4f4f4f;
  text-align: center;
  margin-bottom: 4rem;
}

.container h2 span {
  font-size: 2.6rem;
}

.card-body .fa-angle-double-down {
  font-size: 1.7rem;
}

.card-heading {
  font-size: 1.6rem;
  color: #fff;
  font-weight: 500;
  text-align: center;
  background-color: transparent;
  background-image: linear-gradient(180deg,#2bbbad 0%,#25968b 100%);
  border-radius: .7rem .7rem 0 0;
  padding: .6rem;
}

.prob {
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 1.5rem;
}

.card-body a {
  color: inherit;
  font-style: italic;
  line-height: 1.5rem;
  padding: 0;
}

.card-body a.nav-link.scroll:hover {
  font-size: 0.9rem;
  line-height: 1.5rem;
}

#domande .nav-link.scroll {
  display: inline;
  padding: 0;
  color: inherit;
}

.fa-redo-alt {
  font-size: 1.7rem;    
  color: #bfc5ca;
  margin: .5rem 0 .5rem 0;
}

.fa-times {
color: #ff4444;
}

#aiuto {
  margin-top: 5rem;
}

.list-group {
  margin: 1.5rem 0 1.5rem 0;
}

.list-group-item {
  border: 0;
}

.list-group-item {
  padding: 0;
}

.circle {
  background-color: #2bbbad !important;
}

ul.stepper li a {
    cursor: inherit;
}

.lighten-3 {
  border-radius: .2rem;
}

.lighten-3 p:first-of-type {
  margin: 0 0 .5rem 0;
}

.lighten-3 p:last-of-type {
  margin: 0;
}

.stepper-vertical li .step-content p {
  font-size: 1rem;
}

.lightbox img {
    border-radius: 4px !important;
}

.testimonial-carousel .testimonial {
  margin-right: 23%;
  margin-left: 23%;
}

.testimonial-carousel.carousel-control.left {
  left: 6%;
}

.testimonial-carousel .carousel-control.right {
  right: 6%;
}

.testimonial-carousel .carousel-control.left::before {
  content: "\2039";
}

.testimonial-carousel .carousel-control.right::before {
  content: "\203a";
}

.testimonial-carousel .carousel-control::before {
  font-size: 5rem;
  color: rgba(0,0,0,0.6);
  -webkit-transition: .4s;
  transition: .4s;
}

.testimonial-carousel.carousel-control {
  top: 50%;
  background-image: none;
  -webkit-transform: translateY(-35%);
  transform: translateY(-35%);
}

.testimonial-carousel .testimonial .avatar img {
  max-width: 120px;
  -webkit-box-shadow: 0 5px 11px 0 rgba(0,0,0,0.18), 0 4px 15px 0 rgba(0,0,0,0.15);
  box-shadow: 0 5px 11px 0 rgba(0,0,0,0.18), 0 4px 15px 0 rgba(0,0,0,0.15);
}

.completed span {
  font-style: normal;  
}

#testimonianze {
  display: table;
  margin-top: 5rem;    
}

#testimonianze .card-title {
  font-family: inherit;
  font-size: 1.25rem;
  font-weight: 500;
  text-transform: inherit;
  text-align: center;
  margin-top: .35rem;
}

#testimonianze .card-text {
  margin-left: .5rem;
  margin-right: .5rem;
}

#testimonianze .card-text, .orange-text {
  text-align: center;    
}

#testimonianze .modal-content {
  background: none;    
}

.card-columns .card {
  max-width: 100%;
}

small {
  font-size: .9rem;
}

#testimonianze img.rounded-circle {
  width: 70px;
  margin: .7rem auto;
}

.img-fluid, .modal-dialog.cascading-modal.modal-avatar .modal-header, .video-fluid {
  max-width: 100%;
  height: auto;
}

.rounded.img-fluid.mb-4 {
  width: 100%;
  max-width: 100%;
}

.lead {
  font-size: 1rem;
}

.md-accordion .card:first-of-type {
  border-radius: 0.25rem 0.25rem 0 0 !important;
}

.md-accordion .card:last-of-type {
  border-radius: 0 0 0.25rem 0.25rem !important;
}

.page-footer.font-small.grey.lighten-3.py-4.dark-grey-text {
  margin-bottom: 3.80rem;
}

.fa-quote-left, .fa-quote-right {
   font-size: .6rem;
   color: #929292;
}

img {
   opacity: 1;
   transition: opacity 0.3s;
}

img[data-src] {
   opacity: 0;
}

.map-container-section {
  border-radius: .25rem;
}

.leaflet-control-attribution.leaflet-control {
  display: none !important;
}

label.control-label.check {
  float: left;
  margin: 0;
  padding: 0;
}

.privacy {
  font-size: .8rem;
  line-height: 1rem !important;
  display: block;
  padding: .7rem 0 0 1.7rem;
}

#form {
  width: 1px;
  height: 1px;
  display: block;
}

.md-form:last-of-type {
  margin-bottom: 0;
}

.md-form textarea.md-textarea {
	display: inline-block;
	margin: .6rem 0 .6rem 0;
    padding: 1.5rem 0 0 0;
}

.has-error label {
  line-height: 1rem; 
}

.has-error label.active {
  color: #ff3547 !important;
}

.messages {
  font-size: .8rem;
  color: #ff3547;
  font-weight: 200;
}

#btnSubmit {
  margin-top: 1.2rem;
}

.messages:last-of-type {
  margin-top: .3rem;
}

.text-danger {
  font-weight: 400;
}

.text-danger:last-of-type {
  margin: 0;
}

.privacy a:hover {
  font-size: inherit;
}

footer h3 {
  text-align: center;
}

footer .container {
  color: #000;
  padding: 2rem 2rem 0 2rem;
}

a.ml-2, a.mr-2, .disc {
  font-size: 0.8rem;
  text-transform: uppercase;
}

.btn-floating {
  cursor: inherit;
}

.sticky {
  position: fixed;
  left: 0;
  width: 100%;
  text-align: center;
  z-index: 1000;
  display: block !important;
}

.sticky .mb-0 {
  font-weight: 500;
}

.sticky ul {
  margin: 0.6rem 7rem 0.6rem 7rem;
}

.sticky .fa-phone-alt {
  font-size: 80%;
}

.sticky .fa-whatsapp {
  font-size: 90%;
}

.sticky .fa-envelope {
  font-size: 95%;
}

.list-inline-item {
  width: 33%;
  margin: 0 !important;
  font-family: "Montserrat",Sans-serif;  
}

.list-inline-item a:hover {
  font-size: 1.15rem;   
}

.modal-body h6 {
  text-transform: uppercase;
  font-weight: 500;
}

.disclaimer {
  display: none !important;
}

/* Steps */
.step {
  list-style: none;
  margin: 0;
  }

.step-element {
 display: flex;
 padding: 1rem 0;
}

.step-number {
  position: relative;
  width: 3.4rem;
  flex-shrink: 0;
  text-align: center;
}

.step-number .number {
  color: #bfc5ca;
  background-color: #eaeff4;
  font-size: 1.5rem;
}

.step-number .number {
  width: 48px;
  height: 48px;
  line-height: 48px;
}

.number {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 38px;
  border-radius: 10rem;
}

.step-number::before {
  content: '';
  position: absolute;
  left: 50%;
  top: 48px;
  bottom: -2rem;
  margin-left: -1px;
  border-left: 2px dashed #eaeff4;
}

.step-excerpt {
  padding-left: 1rem;
}

.step .step-element:last-child .step-number::before {
  bottom: 1rem;
}

p.text-muted {
  margin-right: 1.5rem;
}

.fa-facebook, .fa-whatsapp, .fa-facebook-messenger {
  font-size: 1.3rem;
}

.col.disc .fa-facebook:hover, .col.disc .fa-whatsapp:hover, .col.disc .fa-facebook-messenger:hover {
  color: #696969;
}

.fa-play:before {
  margin-left: .3rem;
}

a[title*="Hosted"] {
  display: none !important;
}

div.iub-toggle-checkbox input[type="checkbox"]:not(:checked), [type="checkbox"]:checked {
  position: initial !important;
  opacity: initial !important;
  background-color: initial !important;
  pointer-events: initial !important;
}
	
/* Media Queries */

@media screen and (min-width: 576px) {
  .card-columns {
    column-count: 1;
    -webkit-column-count: 1;
    -moz-column-count: 1;
    max-width: 49%;
    float: left;
  }

  .lg-mr-3 {
    margin-right: .9rem;
  }

  .lg-ml-3 {
    margin-left: .9rem;
  }    
}

@media screen and (min-width: 768px) {
  .md-mb-4 {
    margin-bottom: 1.5rem;
  }
    
  .mobile {
    display: none;
  }    
}

@media screen and (max-width: 767px) {
  .desktop {
    display: none;
  }
} 

@media screen and (max-width: 991px) {
  .navbar-collapse {
    margin-top: .7rem;
  }
    
  .col-md-8, .col-md-4 {
    flex: inherit;
    max-width: 100%;
  }  
}

@media screen and (max-width: 992px) {
  .card-deck .card {
    flex: inherit;
    margin: 0 0 1.2rem 0;
    width: 100%;
	max-width: 100%;
  }

  .sticky ul {
    margin-left: 0;
    margin-right: 0;
  }
    
  .list-inline-item.none {
    display: none;
  }

  .list-inline-item {
    width: 100%;   
  }  
    
  .md-text-center {
    text-align: center;
  }    
}

@media screen and (min-width: 992px) {
  .navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 1rem;
    padding-left: 1rem;
  }
  
  .lg-mt-5 {
    margin-top: 3rem;
  }  
  
  .lg-mb-5 {
    margin-bottom: 3rem;
  }
  
  p.lead {
    margin-left: 7rem !important;
    margin-right: 7rem !important;
  }

}

@media screen and (max-width: 576px) {

  .heading h1 {
    margin-bottom: 1.5rem;
  }
    
  .container.xs-p-0.my-5 {
    padding: 0;
  }
    
  .sm-mb-1 {
    margin-bottom: 1.5rem;
  }    
  
  .testimonial-carousel .testimonial {
    margin-right: 0;
    margin-left: 0;
  }

  .testimonial-carousel .carousel-control.left {
    left: -13%;
  }

  .testimonial-carousel .carousel-control.right {
    right: -13%;
  }
  
  .testimonial-carousel .carousel-control::before {
    font-size: 3.60rem;
  }
  
  .row .col-lg-5.mb-lg-0.pb-lg-3.mb-4, .row .col-lg-7 {
  padding-left: 0;
  padding-right: 0
  }

footer h3 {
  padding-bottom: 0.6rem;
  }

.footer-copyright {
  margin-top: 1rem !important;
  }
  
.ml-xs-0 {
  margin-left: 0 !important;
  }

}

@media screen and (min-width: 1700px) {
  .sticky ul {
    width: 70%;
	margin: .6rem auto;
  }
 }
